body {
    font-family: "Funnel Sans", sans-serif;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-rows: auto 1fr;
    height: 100vh;
}

header {
    background-color: #23272a;
    color: white;
    display: flex;
    
    align-items: center;
    padding: 10px 20px;
}
header {
    display: flex;
    align-items: center;
    gap: 1px;
}

header svg {
    display: block; 
}

header h1 {
    margin: 0; /* Removes default heading margin */
}


header img {
    height: 40px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

main {
    display: grid;
    grid-template-columns: 200px 1fr;
}

aside {
    background-color: #2c2f33;
    color: white;
    padding: 20px;
}

section {
    padding: 20px;
}

section header {
    font-size: 24px;
    margin-bottom: 10px;
}

.messages {
    background-color: #23272a;
    color: white;
    padding: 10px;
    height: 300px;
    overflow-y: scroll;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
}

#logtext {
    color: white;
    /* margin-right: 290px; */
}